// @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import "vars";
@import "mixins";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

p {
	margin: 0;
	padding: 0;
}

body {
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
}

.pink-color {
	color: $colorSelectSite;
}
.dropdown-header {
	font-size: 18px;
	color: $colorText;
}

.basket__block::after {
	content: "0";
	background-color: $colorSelectSite;
	font-size: 15px;
	width: 20px;
	height: 20px;
	position: absolute;
	color: white;
	top: 5px;
	left: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.dropdown-item:hover {
	color: $colorSelectSite;
}

.center {
	padding-left: calc(50% - $widthSite / 2);
	padding-right: calc(50% - $widthSite / 2);
}

.imgBannerMain {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #f7f7f7;
	position: relative;
	z-index: -1;
}
.arrow {
	width: 47px;
	height: 47px;
	background-color: #2a2a2a26;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	font-weight: 700;
	color: #000000;
	font-size: 26px;
}
.arrow_right {
	color: $colorSelectSite;
}

.textCenterMain {
	margin: auto;
	border: 1px solid #eaeaea;
	padding-top: 70px;
	padding-bottom: 70px;
	margin-top: -50px;
	background: #fff;
	width: $widthSite;
	flex-direction: column;
	@include centerFlex();
	text-align: center;
	gap: 10px;
}
.textP1_textCenterMain {
	color: $colorSelectSite;
	font-size: 14px;
	font-weight: 400;
	line-height: 16.8px;
}

.textP2_textCenterMain {
	color: #4d4d4d;
	font-size: 14px;
	font-weight: 400;
	line-height: 16.8px;
}

.textP3_textCenterMain {
	width: 555px;
	color: #5e5e5e;
	font-size: 14px;
	font-weight: 400;
	line-height: 16.8px;
	padding-top: 30px;
	padding-bottom: 20px;
}

.hrMain {
	width: 63px;
	height: 5px;
	background-color: $colorSelectSite;
	border: none;
	opacity: 100;
	margin: auto;
}

.price_textCenterMain {
	color: $colorSelectSite;
	font-size: 24px;
	font-weight: 400;
	line-height: 28.8px;
	padding-bottom: 50px;
}

.hrAfterPrice {
	width: 642px;
	height: 2px;
	background-color: #eaeaea;
	border: none;
	opacity: 100;
	margin: auto;
}
.button_addToCart {
	border: 1px solid $colorSelectSite;
	background: #fff;
	padding: 10px 30px 10px 30px;
	display: flex;
	justify-content: space-between;
}
.addToCart {
	color: $colorSelectSite;
	font-size: 16px;
	font-weight: 400;
	line-height: 19.2px;
}

.menu_textCenterMain {
	color: #6f6e6e;
	font-size: 14px;
	font-weight: 400;
	line-height: 16.8px;
	padding-top: 50px;
	padding-bottom: 30px;
}

.blockLinkMain {
	display: flex;
	justify-content: space-between;
	gap: 25px;
}
.product-box {
	@include centerFlex();
	padding-top: 130px;
	padding-bottom: 130px;
}

%flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.top-head {
	background: #f8f3f4;
	padding-top: 60px;
	padding-bottom: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.top-heading__head {
	font-size: 24px;
	font-weight: 400;
	line-height: 28.8px;
	color: $colorSelectSite;
}
.breadCrumbs__link {
	font-size: 14px;
	font-weight: 300;
	line-height: 17px;
	color: #636363;
}
.breadCrumbs__link__site {
	font-weight: 700;
	color: $colorSelectSite;
}

.content_left {
	flex-direction: row;
	width: 40%;
	align-items: center;
	text-align: center;
}

.content_left_text {
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	margin: 2% 0 2% 0;
}

.content_right {
	text-align: center;
	padding-right: 50px;
}

.content_right_h {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 10%;
}


@media (max-width: 768px) {
	.textCenterMain {
		width: 100%;
	}
}
@media (min-width: 375px) and (max-width: 425px) {
	.user,
	.basket,
	.cart__cart-count {
		display: none;
	}
.top-head{
			display: flex;
		flex-direction: column;
}
.imgBannerMain, .textCenterMain{
	justify-content: center;
	align-items: center;
	align-content: center;
}
.textCenterMain p{
	width: 90%;
}
	.product-box {
		display: flex;
		flex-direction: column;
		padding-left: 0px;
		padding-right: 0px;
		padding-bottom: 0px;


	}
	.product {
		width: 90%;
	}
	.footer__fon_footer {
		margin-top: 70px;
		gap: 20px;
	}
	.footer__top {
		display: flex;
		flex-direction: column;
	}
	.footer__center_width,
	.footer__center {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;
	}
	.footer__content_left {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.footer__content_left div {
		width: 80%;
	}
	.footer__content_right {
		padding-right: 0px;
	}
	.footer__content_left_text {
		text-align: center;
		padding-right: 0px;
	}
}