@import "vars";
@import "mixins";

* {
	font-family: Lato, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

.content_reg {
	display: flex;
	overflow: hidden;

	max-width: 1200px;

	.form-section {
		flex: 1;

		h2 {
			margin-bottom: 1rem;
			font-size: 16px;
			font-weight: 400;
			color: $backBlock;
		}

		input[type="text"],
		input[type="email"],
		input[type="password"] {
			width: 360px;
			height: 45px;
			padding: 0.5rem;
			margin-bottom: 2rem;
			border: 1px solid #a4a4a4;
			background: #ffffff;
			color: #b1b1b1;
			font-size: 13px;
			font-weight: 400;
		}

		.gender-selection {
			display: flex;
			margin-bottom: 2rem;

			input[type="radio"] {
				margin-right: 0.5rem;
				background: #b1b1b1;
			}

			label {
				margin-right: 1rem;
				font-size: 11px;
				font-weight: 400;
				color: $colorText;
			}
		}

		p {
			margin-bottom: 3rem;
			color: #b1b1b1;
			width: 400px;
		}

		button {
			background-color: $colorSelectSite;
			color: $dropdown-bg;
			padding: 0.75rem 1.5rem;
			border: none;
			cursor: pointer;
			font-size: 14px;
			font-weight: 400;
		}
	}

	.perks-section {
		flex: 1;
		padding: 2rem;

		h2 {
			margin-bottom: 1rem;
			font-size: 24px;
			font-weight: 400;
			color: $colorText;
		}

		p {
			margin-bottom: 1rem;
			font-size: 24px;
			font-weight: 400;
			color: $colorText;
		}

		ul {
			list-style-type: none;
			padding: 0;

			li {
				margin-bottom: 0.5rem;
				margin-bottom: 1rem;
				font-size: 24px;
				font-weight: 400;
				color: $colorText;

				&:before {
					content: "✓";
					margin-right: 0.5rem;
					color: $colorText;
				}
			}
		}
	}
}
@media (max-width: 1024px) {
	.content_reg {
		padding-left: 20px;
		padding-right: 20px;
	}
	.footer__top {
		display: none;
	}
	.footer__center {
		flex-direction: column;
		gap: 50px;
	}
	.footer__content_right {
		padding-right: 0px;
	}
}
@media (min-width: 375px) and (max-width: 425px) {
	.user,
	.basket,
	.cart__cart-count {
		display: none;
	}
.content_reg{
	display: flex;
	flex-direction: column;
}
.content_reg .perks-section{
	padding-left:0;
		padding-right:0;
		padding-top: 70px;
		padding-bottom: 0;



}
	.product {
		width: 90%;
	}
	.footer__fon_footer {
		margin-top: 70px;
		gap: 20px;
	}
	.footer__top {
		display: flex;
		flex-direction: column;
	}
	.footer__center_width,
	.footer__center {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;
	}
	.footer__content_left {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.footer__content_left div {
		width: 80%;
	}
	.footer__content_right {
		padding-right: 0px;
	}
	.footer__content_left_text {
		text-align: center;
		padding-right: 0px;
	}
}