$colorSelectSite: #F16D7F;
$widthSite:1140px;
$backBlock: #222;
$colorText: #000;
$gapGrid: 30px;
$thirdSite: ($widthSite - $gapGrid) / 3;
$widthBurgerMenu: 232px;



$dropdown-bg: #fff;
$dropdown-item-color: #000;
$dropdown-item-hover-bg: #f0f0f0;
$pink-color: #ff69b4;