@import "vars";
@import "mixins";

body {
	font-family: "Lato", sans-serif;
	margin: 0;
	padding: 0;
	transition: all 0.3s ease;
}

a {
	text-decoration: none;
}

.box-content {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.cart {
	&__wrapper {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		transition: all 0.3s ease;
	}
	&__cart-section {
		margin: 0;
		padding: 0;
		width: 100%;
	}

	&__cart-section__btn {
		display: flex;
		width: 652px;
		margin-top: 20px;
		position: relative;
		transition: all 0.3s ease;
	}

	&__cart-section__title__container {
		height: 148px;
		display: flex;
		align-items: center;
		background: #f8f3f4;
		margin-bottom: 70px;
		width: 100%;
	}

	&__cart-section__title {
		font-size: 24px;
		font-weight: 400;
		line-height: 28.8px;
		text-align: left;
		color: $colorSelectSite;
	}

	&__btn-clear-cart-shop,
	&__btn-continue-shopping {
		padding: 10px 20px;
		border: 1px solid #a4a4a4;
		cursor: pointer;
		transition: all 0.3s ease;
	}

	&__btn-continue-shopping {
		color: inherit;
		background-color: #fff;
		position: absolute;
		right: 0px;
	}

	&__btn-continue-shopping a:hover,
	&__btn-continue-shopping a:visited {
		color: inherit;
	}

	&__btn-clear-cart-shop {
		color: #000;
		padding: 10px 20px;
        		position: absolute;
		border: 1px solid #a4a4a4;
		background-color: #fff;
	}
	&__cart-items {
		width: 60%;
		transition: all 0.3s ease;
	}
	&__cart-item {
		width: 652px;
		height: 306px;
		display: flex;
		align-items: center;
		margin-bottom: 40px;
		border: 1px solid #eaeaea;
		transition: all 0.3s ease;
		box-shadow: 17px 19px 24px 0px #00000021;
		position: relative;
	}

	&__cart-item img {
		width: 262px;
		height: 306px;
		margin-right: 20px;
		transition: all 0.3s ease;
	}

	&__item-details {
		flex: 1;
	}

	&__item-details h4 {
		font-size: 24px;
		font-weight: 400;
		line-height: 28.8px;
		text-align: left;
		color: $backBlock;
		padding-bottom: 40px;
	}

	&__item-details p {
		font-size: 22px;
		font-weight: 400;
		line-height: 26.4px;
		text-align: left;
		color: #575757;
		padding-bottom: 10px;
	}
}
.price-value {
	color: $colorSelectSite !important;
	font-weight: bold;
}

.quantity-input {
	width: 44px;
	height: 24.95px;
	border: 1px solid #eaeaea;
	text-align: center;
}

.remove-item {
	background-color: #fff;
	color: #575757;
	font-size: 22px;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
	transition: all 0.3s ease;
	position: absolute;
	top: 10px;
	right: 10px;
}

.checkout {
	width: 35%;
	transition: all 0.3s ease;
}

.shipping-address h2 {
	font-size: 16px;
	font-weight: 400;
	line-height: 19.2px;
	text-align: left;
	color: $backBlock;
}

.shipping-address,
.total {
	margin-bottom: 20px;
	transition: all 0.3s ease;
}

.shipping-address input,
.shipping-address button {
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	background: #fff;
	border: 1px solid #a4a4a4;
	transition: all 0.3s ease;
	font-family: Lato;
	font-size: 13px;
	font-weight: 400;
	line-height: 15.6px;
	text-align: left;
}

.get-quote {
	color: #222224;
	width: 30%;
	height: 35px;
	background-color: #fff;
	border: 1px solid #a4a4a4;
	margin-bottom: 40px;
}

.total {
	height: 214px;
	background: #f5f3f3;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.total p {
	margin: 10px 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 19.2px;
	color: #575757;
	// display: flex;
	// justify-content: space-between;
	align-items: center;
}

.total .grand-total-value {
	color: $colorSelectSite !important;
	font-weight: bold;
}
.total hr {
	border: none;
	border-top: 1px solid #ddd;
	margin: 20px 0;
}

// .total::after {
//     content: '';
//     width: 100%;
//     height: 1px;
//     background-color: #ddd;
//     margin: 20px 0;
// }
.proceed-to-checkout {
	background-color: $colorSelectSite;
	color: #fff;
	border: none;
	padding: 15px;
	cursor: pointer;
	width: 100%;
	transition: all 0.3s ease;
	font-size: 16px;
	font-weight: 400;
	line-height: 19.2px;
	text-align: center;
	margin-top: 20px;
	margin-top: auto;
}

.total p:first-of-type,
#sub-total {
	font-size: 11px;
	font-weight: 400;
	line-height: 13.2px;
	text-align: right;
}

.total p {
	text-align: right;
}

#grand-total {
	color: $colorSelectSite;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.2px;
	text-align: right;
}
