* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #fff;
  }

  @font-face {
    font-family: 'Gilroy-SemiBold';
    src: url(./fonts/Gilroy-SemiBold.ttf);
  }
    @font-face {
    font-family: 'Gilroy-Medium';
    src: url(./fonts/Gilroy-Medium.ttf);
  }
  @font-face {
    font-family: 'Gilroy-Bold';
    src: url(./fonts/Gilroy-Bold.ttf);
  }
  
  body {
    background: #fff;
    max-width: 1920px;
    margin: auto;
    width: 80%;
  }
     
  .header {
    width: 100%;
    gap: 48px;
    margin: 40px 0px 84px 0px;
  }
  
  .logo_GrowBe {
    width: 137px;
    height: 40px;

  }

a {
  text-decoration: none;
  color: #000000;  
  }

a:active {
  color: #000000;
}

a:focus {
  color: #F25822;

}
.menu {
  gap: 20px;
}

.subline_text {
  font-family: 'Gilroy-Medium';
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #888888;
  margin-top: 20px;
}

.title {
  font-family: 'Gilroy-Bold';
  font-size: 60px;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;

}


.menu {
  font-family: 'Gilroy-SemiBold';
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left; 
  color: #000000;
}

.button_content {
  margin-top: 40px;
  gap: 20px;
}

.text_button {
  font-family: 'Gilroy-SemiBold';
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 50px;
  gap: 10px;
  padding: 15px 30px;
  color: #fff;
  background-color: #F25822;
  border: none;
}

.text_button:active {
  color: #fff;
  background-color: #F25822;


}
.text_button:focus {
  color: #AAAAAA;
  background-color: #fff;
}

.down_black {
  height: 10%;
  margin-left: 5px;
}

.top_content {

  margin: 0px 0px 160px 0px
}

.logo_container {
  margin: 100px 0px 100px 0px;
}



.working {
  width: 99%;
}

.logo_smth {
  height: 50px;
  margin-left: -25px;
}


.left_container {

  gap: 10px;
  width: 60%;

}



.img_container {
  margin-left: 15px;
}


.orange_borderoval {
  margin-left: -310px;
}